<%- include('includes/header') %>

<body>
    <h1>My restaurant Page</h1>

    <% if(!member) { %>
        <h2>Siz authententicated bo'lmagansiz</h2>

    <% } else {%>
        <h1> Siz authententicated bo'lgansiz, va sizning nickingiz <%= member.mb_nick%>
        <p>Sizning telefoningiz <%= member.mb_phone%></p>
    </h1>
        <% } %>
</body>
<%- include('includes/footer') %>
